<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>🏥DiagnoseSastra</title>
  <link href="css/style.css" rel="stylesheet" type="text/css"  media="all" />
  <link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/responsiveslides.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="js/responsiveslides.min.js"></script>
    <script>
     
        $(function () {
    
        
          $("#slider1").responsiveSlides({
            maxwidth: 1600,
            speed: 400
          });
    });
    </script>
  

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  
		
	
	
		
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
  </style>
  <title>🏥DiagnoseSastra</title>
</head>

<body>
  {% include "hospital/navbar.html" %}
  <br><br>
  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px;">About Us !</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
  
    <div class="header">
      <div class="wrap">
    
      <div class="logo">
        <a  href="index.html" style="font-size: 30px;"><img width="100" height="60" src="static/images/Wall.png"> Welcome to  DiagnoseSastra !</a>
        
      </div>
    
      
    </div>
  
  </div>
  <div class="clear"> </div>

        <div class="image-slider">
      
            <ul class="rslides" id="slider1">
          
              <li><img src="static/images/slider-image1.jpg" alt=""></li>
              
            </ul>
        
        </div>
        
   
     <hr>
    
      <h4 style="color:red; ">&#x1f3e5;&nbsp;<b> BEST FREE CLINIC</b></h4><br>
      <p class="animated bounceInLeft">The implementation of community-based programs tailored to underserved patients who do not have access to quality health care can impact future health outcomes,<br> Addressing these chronic disease issues is critical to intervene in communities  <br>
      and develop effective management solutions pertinent to one health status.</p>
       <div class="row vbh">
         </div>
 
       </div>
    </div>
  </div>
  
  <section > <br>
       
                      <h5 style="color:rgb(255, 102, 0);">  + Newest Technologies</h5>
                    
                  </div>
              </div>

              <div ><br>
                      <h5 style="color:rgb(255, 0, 0);"> + Experianced Doctors</h5>
                  
                  </div>
              </div>

              <div ><br>
                
                      <h5 style="color:rgb(43, 255, 0);"> + High Customer Satisfaction</h5>
                     
                  </div>
              </div>

              <div>
                      <h5 style="color:rgb(0, 17, 255);"><br>
            + Pharma Pipeline</h5>
                    
                  </div>
              </div>

  </section>
<br>
<br>
<hr>
<h1 style="color: crimson;">&#x1f3e5;&nbsp;<b> OUR NEW BRANCH HOSPITAL INFRASTRUCTURE MODEL IN DELHI -</b> </h1> <br>

<iframe width="420" height="315"

src="static/videos/infra.mp4">

</iframe>
<div class="gallery" >
  <a target="_blank" >
    <img src="static/images/Qr.png"  width="600" height="400" ><strong>Scan This To Donate </strong>
  </a>

  </div>
  <section class="with-medical">
      <div class="container">
          <div class="row">
      <br>
      <br>
      <hr>
      </div>
                  <h4 style="color:rgb(255, 0, 0);">&#x1f3e5;&nbsp;<b>Why choose Health Care with us ?</b> <br><br>
                  
                  </h4>
        
                  <p>Health care (also health-care or healthcare) is the maintenance or improvement of health via the prevention, diagnosis, treatment, amelioration, or cure of disease, illness, injury, and other physical and mental impairments in people.<br> Health care is delivered by health professionals and allied health fields. <br>Medicine, dentistry, pharmacy, midwifery, nursing, optometry, audiology, psychology, occupational therapy, physical therapy, athletic training, and other health professions are all part of health care. It includes work done in providing primary care, secondary care, and tertiary care, as well as in public health.</p>
                 
              </div>

          </div>
      </div>
  </section>
  <hr>
  <section >
  <br><br><br><br>
       <h1 style="color: rgb(255, 0, 0); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">&#x1f3e5;&nbsp;FAMOUS BLOGS </h1>
       <br>
     </div>
     <div>
    <div class="gallery">
      <a target="_blank" href="static/images/blog1.png">
        <img src="static/images/blog1.png"  width="600" height="400">
      </a>
      <div class="desc">By Hitesh| August 10 2018</div>
      </div>
      
      <div class="gallery">
      <a target="_blank" href="static/images/blog2.png">
        <img src="static/images/blog2.png" width="600" height="400">
      </a>
      <div class="desc">By Dsa | August 10 2018</div>
      </div>
      
      
      
      <div class="gallery">
      <a target="_blank" href="static/images/blog4.png">
        <img src="static/images/blog4.png" width="600" height="400">
      </a>
      <div class="desc">By Naman | August 10 2018</div>
      </div>
      <div class="gallery">
      <a target="_blank" href="static/images/blog1.png">
      <img src="static/images/blog1.png"  width="600" height="400">
      </a>
      <div class="desc">By Renvil | August 10 2018</div>
    </div>
    
    <div class="gallery">
      <a target="_blank" href="static/images/blog2.png">
      <img src="static/images/blog2.png" width="600" height="400">
      </a>
      <div class="desc">By Dsa | August 10 2018</div>
    </div>
    
    
    
    <div class="gallery">
      <a target="_blank" href="static/images/blog4.png">
      <img src="static/images/blog4.png" width="600" height="400">
      </a>
      <div class="desc">By Naman | August 10 2018</div>
    </div>
           
           <hr>
         </div>
       </div>
      
     </div>
  </div>
</section>




   
     <form name="contactus" method="post">
     <div class="clear"> </div>
     <div class="footer">
        <div class=
      "wrap">
      <br><br><hr>
   <div>
     <br><br><br><br><br><br>
   <h1 style="color: chocolate;"><b>🏥AWARNESS SECTION</b></h1><hr>
   <br>
   <a href="https://www.sfcdcp.org/infectious-diseases-a-to-z/" >Click Here To Know about Corona</a><br>
   <a href="https://www.sfcdcp.org/infectious-diseases-a-to-z/" >Click Here To Know about Yellow Fever</a><br>
   <a href="https://www.sfcdcp.org/infectious-diseases-a-to-z/" >Click Here To Know about Jaundice Fever</a><br>
   <a href="https://www.sfcdcp.org/infectious-diseases-a-to-z/" >Click Here To Know about HIV-AIDS</a>
 </div><hr>
 <br><br>
          </div>
       <div class="footer-left">
           <ul><li><form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_IskXtNjmjnjsjx" async> </script> </form></li>
             
          
         
        </ul>
       </div>
     
       <div class="clear"> </div>
     </div>
     </div>

    <p>Explore our Website.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </p>
  </div>
  {% include "hospital/footer.html" %}
</body>

</html>
